<%- include("partial/header") %>

<h1>Sorry ! <u><strong></strong><%=name%></strong></u></h1>
<h1>Your email <u><strong><%=email%></strong></u> is already in used . Please enter another email address to proceed further. </h1>
    <h1> Thanking You ! </h1>


<%- include("partial/footer") %>